extends ../layout

block content
	ul
		h1 ..::Create Profile::..
		form(name="profile", action="/profile/insert", method='post')

			//- img(src='profilepics-add.jpg')
			//- <br><br>

			div
				span <strong>Name:</strong> &nbsp; 
				input(type="text", name="name") 
				<br><br>
			div
				span <strong>Age:</strong> &nbsp;
				input(type="number", name="age")
				<br><br>
			div
				span <strong>Weight:</strong> &nbsp;
				input(type="number", name="weight")
				&nbsp;
				span <strong>(kg)</strong> 
				<br><br>
			div
				span <strong>Hight:</strong> &nbsp;
				input(type="number", name="hight")
				&nbsp;
				span <strong>(cm)</strong> 
				<br><br>
			div
				span <strong>Birthday:</strong> &nbsp;
				input(type="text", name="birthday")
				<br><br>	
			div
				span <strong>Gender:</strong> &nbsp;
				input(type="text", name="gender")
				<br><br>
			div
				span <strong>Location:</strong> &nbsp;
				input(type="text", name="location")
				<br><br>
			div
				span <strong>Life Style:</strong> &nbsp;
				input(type="text", name="style")
				<br><br>
			div
				span <strong>Facebook:</strong> &nbsp;
				input(type="text", name="facebook")
				<br><br>
			div
				span <strong>Instargram:</strong> &nbsp;
				input(type="text", name="ig")
				<br><br>
			div
				span <strong>Twitter:</strong> &nbsp;
				input(type="text", name="twitter")
				<br><br>
			div
				span <strong>Line ID:</strong> &nbsp;
				input(type="text", name="line")
				<br><br>
			div
				span <strong>Intersted in:</strong> &nbsp;
				input(type="text", name="interested")
				<br><br>
			div
				input(type="submit", value="Enter")
	