doctype html
html
	head
		title #{title}
	body
		h1 Register Form  
		//- form 
		form(name="SignIn", method="POST" action="/createaccount")
			//- div, span Username:, input(type=,name=)
			div
				span Username:&nbsp;&nbsp;
				input(type="text",name="username")
			//- div, span Password:, input(type=,name=)
			div 
				span &nbsp;&nbsp;
			div
				span Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				input(type="password",name="password")
			//- div, input(type=submit,value=)
			div 
				span &nbsp;&nbsp;
			div
				span Confirm Password:&nbsp;&nbsp;
				input(type="password",name="confirmpassword")
			div
				input(type="submit",value="Register")
				span &nbsp;&nbsp;